PG_PASS=change-me
AUTHENTIK_SECRET_KEY=change-me-long-random
AUTHENTIK_BOOTSTRAP_PASSWORD=change-me
AUTHENTIK_BOOTSTRAP_TOKEN=change-me-hex
AUTHENTIK_BOOTSTRAP_EMAIL=admin@example.com
AUTHENTIK_ERROR_REPORTING__ENABLED=false
